{% extends "/layouts/base.html" %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='/css/index.css') }}">
<link rel="shortcut icon" href="{{ url_for('static', filename='img/icons/favicon.ico') }}">
{% endblock %}
{% block title %}Welcome{% endblock %}
{% block body %}
<div id="text-drop">
    <div class="h">H</div>
    <div class="e">e</div>
    <div class="l">l</div>
    <div class="l2">l</div>
    <div class="o">o</div>
    <div class="smile">:)</div>
</div>
<div class="dublinBikes">
    <span>D</span><span>u</span><span>b</span><span>l</span><span>i</span><span>n</span>
    <span>B</span><span>i</span><span>k</span><span>e</span><span>s</span>
</div>

<div class="groupProject">
    A Group project...
</div>
<div class="continuebtn">
    <a href="/home" type="submit">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Take Me There
    </a>
</div>
<div>
    <div class="social-menu">
        <a href="https://github.com/SWEsem2/Dublin_Bikes/tree/main" target="blank">
            <i class="fab fa fa-github"></i>
        </a>
    </div>
</div>
<div class="background"></div>
<script src="https://kit.fontawesome.com/66aa7c98b3.js" crossorigin="anonymous"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const textDrop = document.getElementById('text-drop');
    
        textDrop.addEventListener('mouseleave', function() {
            this.classList.remove('clicked');
        });
    
        textDrop.addEventListener('click', function() {
            this.classList.add('clicked');
            this.innerHTML = this.innerHTML;
        });
    });    
</script>
{% endblock %}