* {
  padding: 0;
  margin: 0;
}

main {
  display: flex;
  padding: 5vh 3vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body{
  background-image: url('../img/background_images/background.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
}

.loader{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display:  flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  transition: opacity 0.75s, visibility 0.75s;
}

.loader--hidden {
  opacity: 0;
  visibility: hidden;
}

.loader::after{
  content: '';
  width: 150px;
  height: 150px;
  border: 15px solid rgb(255, 255, 255);
  border-top-color: rgb(255, 0, 0);
  border-radius: 50%;
  animation: loading 0.75s ease infinite;
}

@keyframes loading {
  from { transform: rotate(0turn); }
  to { transform: rotate(1turn); }
}

#google-map {
  position: relative;
  z-index: 2;
  width: 94vw;
  height: 90vh;
  border-radius: 10px;
  border: black 2px solid;
  box-shadow: -3px 3px 10px 1px rgba(0, 0, 0, 0.5);
}

#search-container {
  display: flex;
  margin: 1vmin;
  gap: 1vmin;
}

.search-bar-container {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  padding: 5px;
  width: 300px;
  height: 30px;
  border-radius: 30px;
  box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.5);
  margin: 0;
  position: relative;
  z-index: 4;
  transition: width 1s;
}

.magnifier {
  width: 30px;
  cursor: pointer;
  position: absolute;
  left: 5px;
}

.input {
  background-color: transparent;
  border: none;
  margin: 10px 50px;
  width: 100%;
  outline: none;
  color: rgb(100, 100, 100);
  transition: width 1s;
  transition-delay: 0.5s;
}

.active.search-bar-container {
  width: 30px;
}

.active .input {
  width: 0;
}

.option{
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  padding: 5px;
  width: 280px;
  font-size: 12px;
  background-color: #22a8eb;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
}

.option:first-child{
  box-shadow: none;
  background-color: #6d74a0c1;
}

.option:last-child{
  border-radius: 0px 0px 7px 7px;
  height: 1px;
  box-shadow: none;
  background-color: #6d74a0c1;
  display: flex;
  justify-content: center;
}

.option-name{
  width:120px;
  text-wrap: wrap;
}

.toggle {
  display: flex;
  align-items: center;
	cursor: pointer;
}
.toggle-switch {
	display: inline-block;
	background: #ccc;
  box-shadow: -1px 1px 10px rgba(0, 0, 0, 0.5);
	border-radius: 16px;
	width: 58px;
	height: 32px;
	position: relative;
	vertical-align: middle;
	transition: background 0.25s;
	&:before,
	&:after {
		content: "";
	}
	&:before {
		display: block;
		background: linear-gradient(to bottom, #fff 0%,#eee 100%);
		border-radius: 50%;
		box-shadow: 0 0 0 1px rgba(0,0,0,0.25);
		width: 24px;
		height: 24px;
		position: absolute;
		top: 4px;
		left: 4px;
		transition: left 0.25s;
	}
	.toggle:hover &:before {
		background: linear-gradient(to bottom, #ffffff 0%,#fff 100%);
		box-shadow: 0 0 0 1px rgba(0,0,0,0.5);
	}
	.toggle-checkbox:checked + & {
		background: #4cc3ff;
		&:before {
			left: 30px;
		}
	}
}
.toggle-checkbox {
	position: absolute;
	visibility: hidden;
}
.toggle-label {
  color: #fff;
	margin-left: 5px;
	position: relative;
	top: 2px;
}

#currentLocation{
    background-color: #fff;
    height: 40px;
    width: 40px;
    border-radius: 3px;
    box-shadow: 0 2px 6px rgba(0,0,0,.3);
    cursor: pointer;
    margin: 10px;
}

#currentLocation img{
  width: 100%;
  height: 100%;
}