.planforFuture {
    width: 23vw;
    height: 100%;
    border-radius: 10px;
    box-shadow: -3px 3px 10px 1px rgba(0, 0, 0, 0.5);
    background-color: var(--info_container_background);
    border: 2px solid rgba(0, 0, 0, 0.896);
    display: flex;
    gap: 1vh;
    flex-direction: column;
    color: var(--weatherFont);
}

.show-houly-data {
    display: flex;
    flex-direction: column;
    padding: 5px;
    height: 100%;
    gap: 0.25vh;
}

.station-name {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
}

.graph-hourly-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.graph-hourly {
    box-sizing: border-box;
    border-radius: 10px;
    background-color: var(--optionsBackground);
    border: 2px solid rgba(0, 0, 0, 0.896);
    width: 100%;
    height: 100%;
}

.graph-hourly-container:-webkit-full-screen {
    height: 100%;
}

.graph-hourly-container:-ms-fullscreen {
    height: 100%;
}

.graph-hourly-container:fullscreen {
    height: 100%;
    background-color: aliceblue;
}

.graph-hourly-button {
    position: absolute;
    top: 5px;
    right: 5px;
}

.statistics-container {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    padding: 5px;
}

.statistics-container button {
    appearance: none;
    background: #efefef;
    border: none;
    cursor: pointer;
    isolation: isolate;
}

.button {
    font-size: 10px;
    line-height: 1.5;
    font-weight: 500;
    width: 100%;
    border-radius: 9999rem;
    background: #efefef;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    isolation: isolate;
    overflow: hidden;

    &>span.text {
        color: #121212;
        width: 100%;
        text-align: center;
        padding-block: 12px;
        z-index: 2;
        transition: all 200ms ease;
    }

    &>div.overlay {
        color: #ededed;
        width: 0px;
        height: calc(100% - 2px);
        display: flex;
        justify-content: flex-end;
        align-items: center;
        border-radius: inherit;
        background: var(--optionsWrapperDark);
        position: absolute;
        right: 1px;
        z-index: 1;
        transition: all 400ms ease;
    }

    &:is(:hover) {
        &>span.text {
            color: #ededed;
        }

        &>div.overlay {
            width: calc(100% - 2px);
            transition: width 200ms ease;
        }
    }
}

