* {
    margin: 0;
    padding: 0;
}

aside {
    display: none;
    width: 20%;
    height: 100%;
}

#station-info-bar {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    /* position: fixed; */
    /* top: calc(10% + 10px); */
    /* right: 10px; */
    /* z-index: 3; */
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: black 2px solid;
    box-shadow: -3px 3px 10px 1px rgba(0, 0, 0, 0.5);
    background-color: rgb(71, 123, 255);
}

#close-info-bar {
    width: 100%;
    text-align: center;
    border-radius: 0 0 10px 10px;

    &:hover {
        color: white;
    }

    &:active {
        background-color: red;
    }
}

.route {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 10px;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.input-route {
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    text-align: left;
    padding: 10px;
    font-size: 10px;
    font-weight: 700;
    border: 3px solid white;
    border-style: ridge;
}

.source {
    position: relative;
    z-index: 4;
}

.destination {
    position: relative;
    z-index: 2;
}

.start-drop,
.end-drop {
    display: none;
    flex-direction: column;
    box-sizing: border-box;
    position: absolute;
    padding: 5px;
    top: 110px;
    height: 200px;
    width: calc(20% - 20px);
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    border-radius: 20px;
    border: black 2px solid;
    box-shadow: -3px 3px 10px 1px rgba(0, 0, 0, 0.5);
    background-color: rgb(71, 123, 255);
}

.start-drop {
    z-index: 3;
}

.end-drop {
    z-index: 1;
    top: 170px;
}

.dir-options {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    font-size: 10px;
    font-weight: 500;
    background-color: aliceblue;

    &:active {
        transform: scale(0.9);
    }

    &:hover {
        background-color: rgb(71, 123, 255);
        color: rgb(255, 255, 255);
    }
}

.serch-route {
    width: 40%;
    text-align: center;
    background-color: blue;
    color: aliceblue;
    font-size: 12px;
    padding: 7px;
    border-radius: 20px;
    border: 2px solid white;
    border-style: ridge;

    &:hover {
        transform: scale(1.1);
    }

    &:active {
        background-color: rgb(255, 71, 71);
        color: aliceblue;
        transform: scale(0.9);
    }
}

.marker-content-container {
    display: flex;
    flex-direction: column;
}

.directions-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
    padding: 1vw;
    height: 100%;
    background-color: aliceblue;
    overflow-y: scroll;
}