.info-container{
	display: flex;
	position: relative;
	z-index: 2;
	flex-direction: column;
	width: 23vw;
	height: 80vh;
	gap: 0.5vh;
}

.weather-app{
	width: 23vw;
	height: 35%;
	border-radius: 10px;
	box-shadow: -3px 3px 10px 1px rgba(0, 0, 0, 0.5);
	background-color: var(--info_container_background);
	border: 2px solid rgba(0, 0, 0, 0.896);
	display: flex;
	gap: 1vh;
	flex-direction: column;
	color: var(--weatherFont);
}

.weather-app-container{
	display: flex;
	height: 75%;
}

.weather-disp{
	width: 15vw;
	padding: 1vh 1vw;
}

.weather-disp-container{
	position: absolute;
	height: 25%;
	display: flex;
	width: 13vw;
	flex-direction: column;
	border-right: solid 1px var(--weatherFont);
}

.info{
	display: flex;
	flex-direction: column;
	gap: 1vh;
}

.weather-text{
	height: 2vh;
	display: flex;
	align-items: center;
}

.sunrise, .sunset{
	font-size: 15px;
	display: flex;
}

.timings{
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

.sunrise img,
.sunset img{
	width: 20px;
}

.wind-speed{
	height: 2vh;
	display: flex;
	align-items: center;
}

.pressure{
	font-size: 13px;
	display: flex;
	align-items: center;
}

.humidity{
	height: 2vh;
	display: flex;
	align-items: center;
}

.weather-ico{
	position: relative;
	top: -3vh;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 15vh;
}

.weather-ico img{
	width: auto;
	height: 15vh;
}

.loc-temp{
	width: 8vw;
	padding: 1vh 1vh;
	display: flex;
	flex-direction: column;
}

.loc-temp-down{
	display: flex;
	width: fit-content;
}

.loc-temp-up, .loc-temp-info{
	display: flex;
	flex-direction: column;
}

.loc-temp-up{
	width: fit-content;
}

.loc-temp-info{
	width: fit-content;
}

.day-name{
	height: 3vh;
}

.location-name{
	height: 2vh;
	font-size: 10px;
}

.temp{
	height: 7vh;
	display: flex;
	flex-direction: column;
}

.temp-head{
	font-size: 9px;
}

.temp-value{
	flex: 1;
}

.feel-temp{
	height: 5vh;
}

.temp .temp-value{
	font-size: 28px;
	font-weight: bolder;
}

.temp-img{
	width: 2vw;
	display: flex;
	justify-content: center;
}

.temp-img img{
	width: 150%;
}

.time-date{
	display: flex;
	align-items: center;
	justify-content: center;
}

.hours {
	color: var(--green);
  }
  
  .minutes {
	color: var(--white);
  }
  
  .seconds {
	color: var(--red);
  }
  