.info-container{
	display: flex;
	/* display: none; */
	position: relative;
	z-index: 2;
	flex-direction: column;
	/* background-color: rgba(0, 0, 0, 0.72);      */
	width: 23vw;
	height: 80vh;
}

.weather-app{
	width: 23vw;
	height: 24vh;
	border-radius: 10px;
	box-shadow: -3px 3px 10px 1px rgba(0, 0, 0, 0.5);
	background-color: #1f3a6ce8;
	border: 2px solid rgba(0, 0, 0, 0.896);
	display: flex;
	gap: 1vh;
	flex-direction: column;
	color: white;
}

.weather-app-container{
	display: flex;
}

.weather-disp{
	width: 15vw;
	padding: 1vh 1vw;
}

.weather-disp-container{
	display: flex;
	width: 13vw;
	flex-direction: column;
	border-right: solid 1px rgba(255, 255, 255, 0.672);
}

.info{
	height: 5vh;
	display: flex;
	flex-direction: column;
	gap: 1vh;
}

.weather-text{
	height: 2vh;
	display: flex;
	align-items: center;
}

.wind-speed img{
	width: 2vh;
}

.wind-speed{
	height: 2vh;
	display: flex;
	align-items: center;
}

.weather-ico{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 13vh;
}

.weather-ico img{
	width: auto;
	height: 13vh;
}

.loc-temp{
	width: 8vw;
	padding: 1vh 1vh;
	display: flex;
	flex-direction: column;
	gap: 1vh;
}

.loc-temp-down{
	display: flex;
	width: fit-content;
}

.loc-temp-up, .loc-temp-info{
	display: flex;
	flex-direction: column;
}

.loc-temp-up{
	width: fit-content;
}

.loc-temp-info{
	width: fit-content;
}

.day-name{
	height: 3vh;
}

.location-name{
	height: 2vh;
	font-size: 10px;
}

.temp{
	height: 7vh;
	display: flex;
	flex-direction: column;
}

.temp-head{
	font-size: 9px;
}

.temp-value{
	flex: 1;
}

.feel-temp{
	height: 5vh;
}

.temp .temp-value{
	font-size: 28px;
	font-weight: bolder;
}

.temp-img{
	width: 2vw;
	display: flex;
	justify-content: center;
}

.temp-img img{
	width: 150%;
}

.time-date{
	display: flex;
	align-items: center;
	justify-content: center;
}

.hours {
	color: #009A44;
  }
  
  .minutes {
	color: rgb(255, 255, 255);
  }
  
  .seconds {
	color: #FF8200;
  }
  