{% extends "/layouts/base.html" %}
{% block head %}
<link rel="stylesheet" href="../static/css/home.css">
<link rel="stylesheet" href="../static/css/side_info_bar.css">
{% endblock %}
{% block title %}Welcome{% endblock %}
{% block body %}
<div class="loader"></div>
<header>

</header>
<aside>
    <div id="station-info-bar">
        <div class="start-loc">
            <input type="text" placeholder="Starting Station">
        </div>
        <div class="close-info-bar">⏏︎</div>
    </div>
</aside>
<main>
    <div id="search-container">
        <div class="search-bar-container active">
            <img src="../static/img/icons/magnifier-512.webp" alt="magnifier"
                class="magnifier">
            <input id="map-search" type="text" class="input" placeholder="Search ..." />
        </div>
        <label class="toggle">
            <input class="toggle-checkbox" id="toggle-markers" type="checkbox">
            <div class="toggle-switch"></div>
            <span class="toggle-label"><strong>All Stations</strong></span>
        </label>
    </div>
    <div id="currentLocation">
        <img src="../static/img/icons/currentLocation.svg" alt="X">
    </div>
    <div id="stationData" data-station='{{ station_data|safe }}' style="display:none;"></div>
    <div id="availabilityData" data-availability='{{ availability_data|safe }}' style="display:none;"></div>
    <div id="google-map"></div>
</main>
<script>
    window.addEventListener("load", () => {
        const loader = document.querySelector(".loader");
        loader.classList.add("loader--hidden");
            document.body.removeChild(loader);
    });
</script>
<script type="module" src="../static/js/home.js"></script>
{% endblock %}