<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/side_info_bar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>
</head>

<body>
    <aside>
        <div id="station-info-bar">
            <div class="route">
                <div class="start-loc box">
                    <input class="source input-route" type="text" name="" placeholder="Source...">
                </div>
                <div class="end-loc box">
                    <input class="destination input-route" type="text" name="" placeholder="Destination...">
                </div>
                <div class="serch-route">Direction</div>
            </div>
            <div class="directions">
                
            </div>
            <div class="close-info-bar">⏏︎</div>
        </div>
    </aside>
    <script src="../static/js/route.js"></script>
</body>

</html>